h1{
    color: black;
    margin-bottom: 5px;
}

body{
    background-color: beige;
}

.heading{
    border: 50px;
    margin: 25px;
    
}

p{
    margin-bottom: 10px;
}

.row{
    display: flex;
}

.cell{
    border: none;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    cursor: pointer; 
    border: black 2px solid;  
    
}

.cell:hover{
    border: solid 2px beige;
}




.cell:active{
    outline: none;
}

.prin{
    margin: 27px;
}

.button{
    width: 70px;
    height: 50px;
    background-color: black;
    color: white;
    margin-left: 90px;
    border-radius: 50%;
}

#b1{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    
}

#b2{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

#b3{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

#b4{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

#b5{
    border: 1px solid gray;
}

#b6{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

#b7{
    border-top: 1px solid gray;
    border-right: 1px solid gray;
}

#b8{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

#b9{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}

#print{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 20px;
    border: 2px white solid;
    width:200px;
    height: 50px;
    padding-top: 19px;
    text-align: center;
    justify-items: center;
    border-radius: 20px;
}

#print:hover{
    border: 2px black solid;
}

.main{
    justify-content: center;
    align-items: center;
   margin-top: 150px;
   margin-left: 600px;

}

.ui{
    justify-content: center;
}